* {
  font-family: "Poppins";
}

@font-face {
  font-family: 'Museo';
  src: url('Museo700-Regular.otf');
}

li.active a {
  border-bottom: 2px solid red;
}

section.main {
  background-image: url("Imagenes/header2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

section.main h1{
    font-family: 'Museo';
}

section.main span{
    line-height: 0;
    margin-bottom: 5px;
}

section.hero {
  background-image: url("Imagenes/background.png");
}

section.hero h2{
    font-family: 'Museo';
}

section.eleccion{
    background-image: url('Imagenes/background.png');
}

.wpp {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

@media screen and (max-width: 639px) { 
    section.main {
        background-position:initial;
    }
}